* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: digital-7;
    src: url("fonts/digital-7.ttf");
}

.main {
    max-width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);

}

.badge {
    background-color: #004643;
    color: white;
}

.clock {
    font-family: digital-7;
    background-color: black;
    border-radius: 20px;
    color: #39FF14;
    font-size: 200px;
    padding: 60px 60px;
    box-shadow: 0 5px #242423;
}